:root {
  // Primary Colors
  --ap-primary-0: #f8f5ff;
  --ap-primary-25: #d3c4fc;
  --ap-primary-50: #b59cfa;
  --ap-primary-100: #9774f7;
  --ap-primary-200: #7a4df5;
  --ap-primary-300: #6b39f4;

  // grayscale
  --ap-gray-0: #f9f9fb;
  --ap-gray-25: #f6f6fa;
  --ap-gray-50: #eceff3;
  --ap-gray-100: #dfdee6;
  --ap-gray-200: #c1c7cf;
  --ap-gray-300: #a4abb8;
  --ap-gray-400: #808897;
  --ap-gray-500: #696b80;
  --ap-gray-600: #353849;
  --ap-gray-700: #272835;
  --ap-gray-800: #1a1a25;
  --ap-gray-900: #0d0d12;

  // Additional / Sky
  --ap-sky-0: #eff8ff;
  --ap-sky-25: #d1f0f9;
  --ap-sky-50: #7edcf1;
  --ap-sky-100: #33cfff;
  --ap-sky-200: #106a97;
  --ap-sky-300: #0c4d6e;

  // Success
  --ap-success-0: #epfcf4;
  --ap-success-25: #d8f8e4;
  --ap-success-50: #c2f3d5;
  --ap-success-100: #a4eec0;
  --ap-success-200: #85eba8;
  --ap-success-300: #67e296;

  // Warning
  --ap-warning-0: #fff6e0;
  --ap-warning-25: #f9eccb;
  --ap-warning-50: #fbd982;
  --ap-warning-100: #ffbd4c;
  --ap-warning-200: #956321;
  --ap-warning-300: #5b3d1e;

  // Error
  --ap-error-0: #fff5f5;
  --ap-error-25: #ffeee9;
  --ap-error-50: #fbc2c3;
  --ap-error-100: #f88789;
  --ap-error-200: #f68365;
  --ap-error-300: #f1000f;

  // Red
  --ap-red-0: #fef7f2;
  --ap-red-25: #fbb8db;
  --ap-red-50: #f8858d;
  --ap-red-100: #f76bd0;
  --ap-red-200: #f43c96;
  --ap-red-300: #f10087;
}
