:root {
  // Btn
  --ap-btn-disabled: #979797;
  --ap-btn-gray: #686868;
  --ap-btn-error: #f10b0f;
  --ap-btn-primary: #2d31fa;

  // Background
  --ap-bg-default: #f8fafb;
  --ap-bg-surface: #ffffff;

  // Text
  --ap-text-primary: #000000;
  --ap-text-secondary: #666d80;
  --ap-text-tertiary: #a0a5b1;
  --ap-text-btn: #ffffff;

  // Border
  --ap-border-default: #dfe1e7;

  // Border Accent
  --ap-border-accent: #ffffff;
  --ap-border-accent-primary: #c1c7d0;

  // Tab
  --ap-tab-not-active: #eceff3;
  --ap-tab-active: #ffffff;

  // Loading
  --ap-loading-right: #dbdcdd;
  --ap-loading-left: #ffffff;
}
