textarea {
  width: 100%;
  height: 78px;
  background-color: var(--ap-bg-default) !important;
  border: 1px solid var(--ap-border-default) !important;
  border-radius: 12px;
  padding: 12px;
  transition: border-color 0.07s ease;
  color: var(--ap-text-primary);
  outline: none;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  letter-spacing: 0;
}

textarea:focus {
  border-color: var(--ap-border-accent-primary) !important;
}

textarea[error='true'] {
  border-color: var(--ap-btn-error) !important;
}

textarea:disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}
