.Vue-Toastification__container {
  padding: 16px !important;
  z-index: 9999;
}

.Vue-Toastification__toast {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 500;
  max-width: 360px;
  margin: 8px auto;
  background-color: #fff;
  color: #111;
  border-radius: 8px !important;

  // برای دارک مود
  [data-theme='dark'] & {
    background-color: #1f1f1f;
    color: #f2f2f2;
  }
}

.Vue-Toastification__toast--success {
  background-color: rgba(40, 167, 69, 0.9);
}

.Vue-Toastification__toast--error {
  background-color: rgba(220, 53, 69, 0.9);
}

.Vue-Toastification__toast--info {
  background-color: rgba(0, 123, 255, 0.9);
}

.Vue-Toastification__toast--warning {
  background-color: rgba(255, 193, 7, 0.9);
  color: #000;
}

.Vue-Toastification__progress-bar {
  height: 3px;
  border-radius: 2px;
  background-color: #ffffff;
  opacity: 0.5;
}

.Vue-Toastification__icon {
  margin-inline-end: 8px;
}

.Vue-Toastification__close-button {
  color: #fff;
  opacity: 0.6;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 1;
  }
}

// ورود
.custom-toast-transition-enter-active {
  animation: fadeInDown 0.2s ease-out;
}

// خروج
.custom-toast-transition-leave-active {
  animation: fadeOutUp 0.2s ease-in forwards;
}

// keyframes
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-40px);
  }
}
