.ap-upload-card {
  width: 100%;
  aspect-ratio: 1.6/1;
  position: relative;
  cursor: pointer;

  &__border {
    width: 100%;
    height: 250px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--ap-border-default);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  &__placeholder {
    font-size: 24px;
    width: 68px;
    height: 68px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--ap-border-accent-primary);
    box-shadow: 0px 1px 2px 0px rgba(13, 13, 18, 0.06);
  }

  &__preview {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 16px;
    background: #cce3ff;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      aspect-ratio: 260/167;
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
    z-index: 9999;
  }

  .corner {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;

    &.top-left {
      top: 0;
      left: 0;
      transform: rotate(-90deg);
    }

    &.top-right {
      top: 0;
      right: 0;
    }

    &.bottom-left {
      bottom: 0;
      left: 0;
      transform: rotate(180deg);
    }

    &.bottom-right {
      bottom: 0;
      right: 0;
      transform: rotate(90deg);
    }
  }
}

.hidden {
  display: none;
}
