html,
body {
  margin: 0;
  padding: 0;
  font-family: Vazirmatn, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  background-color: var(--ap-bg-default);
  color: var(--ap-text-primary);
  direction: rtl;
  height: 100%;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

// .v-application {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   background-color: var(--ap-bg-default);
// }
