// light and dark theme color classes

$text-colors: ('text-primary', 'text-secondary', 'text-tertiary', 'text-btn');

$bg-colors: (
  'bg-default',
  'bg-surface',
  'btn-disabled',
  'btn-gray',
  'btn-error',
  'btn-primary',
  'tab-not-active',
  'tab-active',
  'loading-right',
  'loading-left'
);

$border-colors: ('border-default', 'border-accent', 'border-accent-primary');

@each $name in $text-colors {
  .ap-#{$name} {
    color: var(--ap-#{$name}) !important;
  }
}

@each $name in $bg-colors {
  .ap-#{$name} {
    background-color: var(--ap-#{$name}) !important;
  }
}

@each $name in $border-colors {
  .ap-#{$name} {
    border-color: var(--ap-#{$name}) !important;
  }
}

// Additional color tones classes

$base-colors: (
  'primary-0',
  'primary-25',
  'primary-50',
  'primary-100',
  'primary-200',
  'primary-300',
  'grey-0',
  'grey-25',
  'grey-50',
  'grey-100',
  'grey-200',
  'grey-300',
  'grey-400',
  'grey-500',
  'grey-600',
  'grey-700',
  'grey-800',
  'grey-900',
  'sky-0',
  'sky-25',
  'sky-50',
  'sky-100',
  'sky-200',
  'sky-300',
  'success-0',
  'success-25',
  'success-50',
  'success-100',
  'success-200',
  'success-300',
  'warning-0',
  'warning-25',
  'warning-50',
  'warning-100',
  'warning-200',
  'warning-300',
  'error-0',
  'error-25',
  'error-50',
  'error-100',
  'error-200',
  'error-300',
  'red-0',
  'red-25',
  'red-50',
  'red-100',
  'red-200',
  'red-300'
);

@each $name in $base-colors {
  .ap-text-#{$name} {
    color: var(--ap-#{$name}) !important;
  }
  .ap-bg-#{$name} {
    background-color: var(--ap-#{$name}) !important;
  }
  .ap-border-#{$name} {
    border-color: var(--ap-#{$name}) !important;
  }
}
